---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Chesterfield, Missouri" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

		<!-- update the version number as needed -->
		<script defer src="/__/firebase/11.0.1/firebase-app-compat.js"></script>
		<!-- include only the Firebase features as you need -->
		<script defer src="/__/firebase/11.0.1/firebase-analytics-compat.js"
		></script>
		<!-- 
			  initialize the SDK after all desired features are loaded, set useEmulator to false
			  to avoid connecting the SDK to running emulators.
			-->
		<script defer src="/__/firebase/init.js?useEmulator=true"></script>
	</head>
	<body>
		<nav>
			<strong>
				<a style="color: aqua;" href="/">Home</a> &nbsp;&nbsp;&nbsp;&nbsp;
				<a style="color: aqua;" href="/about">About</a>
			</strong>
		</nav>

		<slot />

		<script>
			declare const firebase: any;
			document.addEventListener("DOMContentLoaded", function () {
				firebase.analytics(); // call to activate
				firebase
					.analytics()
					.logEvent(`testrick-${new Date().toLocaleString()}`);
			});
		</script>
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
