---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<script defer src="/__/firebase/11.0.1/firebase-app-compat.js"></script>
		<script defer src="/__/firebase/11.0.1/firebase-analytics-compat.js"
		></script>
		<script defer src="/__/firebase/init.js?useEmulator=true"></script>

		<meta charset="UTF-8" />
		<meta name="description" content="Chesterfield, Missouri" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<nav>
			<strong>
				<a style="color: aqua;" href="/">Home</a> &nbsp;&nbsp;&nbsp;&nbsp;
				<a style="color: aqua;" href="/about">About</a>
			</strong>
		</nav>

		<slot />
		<!-- <script type="module">
			import { initializeApp } from "https://www.gstatic.com/firebasejs/11.0.1/firebase-app.js";
			import { getAnalytics } from "https://www.gstatic.com/firebasejs/11.0.1/firebase-analytics.js";

			const firebaseConfig = {
				apiKey: "AIzaSyCGQ0tYppWFJkuSxBhOpkH0xVDmX245Vdc",
				projectId: "chesterfieldmo-52851",
				appId: "2:637908496727:web:a4284b4c99e329d5",
				measurementId: "G-WP6JS7HP1S",
			};

			// Initialize Firebase
			const app = initializeApp(firebaseConfig);

			// Initialize Analytics and get a reference to the service
			const analytics = getAnalytics(app);

			console.log("analytics---analytics");
			console.log(analytics);
		</script> -->
		<script>
			document.addEventListener("DOMContentLoaded", function () {
				try {
					console.log("firebase---firebase");
					// @ts-ignore
					console.log(firebase);
					// @ts-ignore
					const aaa = firebase.analytics(); // call to activate
					console.log("firebase---firebase--aaa");
					console.log(aaa);
					// @ts-ignore
					firebase.analytics().logEvent("tutorial_completed");
				} catch (err) {
					console.log("ERROR", err);
				}
			});
		</script>
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
